<h1>Nová správa z kontakného formuláru</h1>

<table>
<tr>
	<th>Firma:</th>
		<td><?= empty($company) ? '' : $company; ?></td>
	</tr>
	<tr>
		<th>Meno:</th>
		<td><?= $name; ?></td>
	</tr>
	<tr>
		<th>Email:</th>
		<td><?= $email; ?></td>
	</tr>
	<tr>
		<th>Mobil:</th>
		<td><?= empty($phone) ? '' : $phone; ?></td>
	</tr>
	<tr>
		<th>Správa:</th>
		<td><?= $message; ?></td>
	</tr>
</table>