body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
body.not-visible {
	visibility: hidden;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: left;
	}

	.navbar {
		border-radius: 0px;
	}

	.navbar > .container .navbar-brand {
		margin-left: -15px;
	}
}

@media (min-width: 992px) {
	.nav > li:last-of-type > a {
		padding-right: 0px;
	}
}

@media (min-width: 992px) {
	.navbar-nav {
		float: right;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

#green-wrapper {
	background-repeat: repeat-x;
	background-position: top center;
	background-image: url('/img/background.jpg');
	background-color: #699d00;
}

.container > .navbar-collapse,
.container > .navbar-header {
	margin-left: 0px;
	padding-right: 0px;
}

@media (max-width: 767px) {
	.container > .navbar-collapse {
		border-width: 0px;
		margin-bottom: 0px;
		margin-left: -15px;
		background-color: #7ab800;
	}
	.container > .navbar-header {
		margin-bottom: 35px;
	}
	.navbar-nav {
	    margin: 0px;
	    padding: 15px 0px;
	}
}

.navbar-brand {
	background-image: url('/img/logo-black-n-white_2.svg');
	background-position: center;
	background-repeat: no-repeat;

	display: block;
	width: 117px;
	height: 69px;
}
@media (max-width: 767px) {
	.navbar-brand {
		background-image: url('/img/logo.svg');
		margin-left: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar > .container .navbar-brand {
		float: none;
		margin: 0px auto;
	}
}

.navbar {
	padding-top: 35px;
	padding-bottom: 38px;
    margin-bottom: 0px;
	border-width: 0px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
	@media (max-width: 767px) {
		.navbar-default {
			border-top: 3px solid #79b800;
			background-color: white;
			padding-bottom: 0px;
		}
	}
	.navbar-default .navbar-nav > li > a {
		color: white;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-color: transparent;
	}
	@media (max-width: 767px) {
		.navbar-default .navbar-nav > li > a {
			border-bottom-width: 0px;
		}
	}

	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a:hover {
		color: white;
		background-color: transparent;
	}
	@media (min-width: 768px) {
		.navbar-default .navbar-nav > li > a.active,
		.navbar-default .navbar-nav > li > a:focus,
		.navbar-default .navbar-nav > li > a:hover {
			border-color: white;
		}
	}


	.nav > li > a {
		padding: 10px 9px;
	}
	@media (max-width: 767px) {
		.nav > li > a {
			padding: 10px 20px;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.nav > li > a {
			padding: 10px 7px;
			font-size: 0.9375em;
		}
	}

	@media (min-width: 768px) {
		.nav {
			padding-top: 23px;
		}
			.navbar-nav > li {
				float: none;
				display: inline-block;
			}
	}

#gray-wrapper {
	padding-top: 60px;
	padding-bottom: 45px;
	background-color: #f4f4f4;
}
	#gray-wrapper .h1-container {
		margin-bottom: 45px;
		text-align: center;
	}
		#gray-wrapper .h1-container h1 {
			text-transform: uppercase;
			color: #7ab800;

			display: inline-block;
			padding-bottom: 3px;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			margin: 0px;
		}

	#gray-wrapper .gray-wrapper-text {
		text-align: center;
	}
		#gray-wrapper .gray-wrapper-text > p {
			font-size: 0.875em;
			margin-bottom: 25px;
		}

#circle-links-holder {
	padding-top: 50px;
	padding-bottom: 10px;
	background-color: white;
}

	#circle-links-holder .circle-link-container {
		margin-bottom: 50px;
	}

	.circle-link {
		background-repeat: no-repeat;
		background-position: center 10%;

		text-align: center;
		color: #7ab800;
		font-size: 1.125em;

		padding-top: 100px;
		height: 145px;
		display: block;
		margin: 0 auto;
	}

		.circle-link:hover {
			color: #7ab800;
			text-decoration: none;
		}

		.circle-link > span {
			font-size: 0.7777em;
			color: #333333;
		}

	.circle-link.reklamne-predmety {
		background-image: url('/img/icons/reklamne-predmety.png');
	}

	.circle-link.reklamny-textil {
		background-image: url('/img/icons/reklamny-textil.png');
	}

	.circle-link.kalendare {
		background-image: url('/img/icons/kalendare-novorocenky.png');
	}

	.circle-link.samolepiace-folie {
		background-image: url('/img/icons/samolepiace-folie.png');
	}

	.circle-link.firemne-tlacoviny {
		background-image: url('/img/icons/firemne-tlacoviny.png');
	}

	.circle-link.reklamne-kadeco {
		background-image: url('/img/icons/reklamne-kadeco.png');
	}

	.circle-link.graficke-navrhy {
		background-image: url('/img/icons/graficke-navrhy.png');
	}

	.circle-link.referencie {
		background-image: url('/img/icons/referencie.png');
	}

footer {
	padding-top: 30px;
	background-color: #333333;
	border-top: 4px solid #7ab800;
}
	footer ul.footer-links {
		padding: 0px;
		float: left;
	}
		footer ul.footer-links > li {
			display: inline-block;
			padding: 0px 8px;
		}
			footer ul.footer-links > li > a,
			footer ul.footer-links > li > a:focus {
				text-decoration: none;
				font-size: 0.875em;
				color: white;
			}
			footer ul.footer-links > li > a:hover {
				text-decoration: none;
				color: #7ab800;
			}

	footer address {
		font-size: 0.875em;
		color: white;
		float: right;
		padding-left: 8px;
	}
		@media (max-width: 991px) {
			footer address {
				float: left;
			}
		}

	footer address > .green {
		color: #7ab800;
	}

	footer address > a {
		color: white;
	}

	footer address > a:hover {
		color: #7ab800;
		text-decoration: none;
	}

.navbar-default .navbar-toggle {
	border-radius: 0px;
	border-width: 0px;
	padding: 15px 10px;
	margin-right: 30px;
}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle.collapsed {
		background-color: transparent;
	}

	.navbar-default .navbar-toggle:hover {
		background-color: #7ab800;
	}
	.navbar-default .navbar-toggle .icon-bar {
		width: 28px;
		height: 4px;
	}
		.navbar-default .navbar-toggle:focus .icon-bar,
		.navbar-default .navbar-toggle.collapsed .icon-bar {
			background-color: #7ab800;
		}
		.navbar-default .navbar-toggle:hover .icon-bar {
			background-color: white;
		}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
	border: 0px solid transparent;
    background-image: url('/img/horizontal-page-delimiter.png');
    display: block;
    height: 35px;
    background-position: center;
}

#catalogs-holder,
#contact-us {
	text-align: center;
}

	@media (max-width: 991px) {
		#catalogs-holder {
			margin-bottom: 40px;
		}
	}

	#catalogs-holder h2,
	#contact-us h2 {
		font-size: 1.125em;
		color: #7ab800;
	}

	#catalogs-holder p,
	#contact-us p {
		font-size: 0.875em;
		margin-bottom: 35px;
	}

	@media (max-width: 519px) {
		#catalogs-holder .row > div.col-xs-6 {
			width: 100%;
		}
	}
	@media (min-width: 520px) {
		#catalogs-holder .row > div.col-xs-6:nth-of-type(2) {
			padding-left: 0px;
		}
	}

		.catalog-link {
			margin: 0 auto;
			display: block;
			width:	228px;
			height:	284px;
			position: relative;
		}
		.catalog-link.tall {
			height:	314px;
		}
			.catalog-link > .catalog-hover-corner {
				display: none;
				width:	33px;
				height:	31px;

				position: absolute;
				bottom:	8px;
				right:	1px;

				background-image: url('/img/catalogs/catalog-hover.png');
			}
			.catalog-link:hover > .catalog-hover-corner {
				display: block;
			}

		#catalog-link-evina-predmety-catalog-2016 {
			background-image: url('/img/catalogs/predmety/darcekove-predmety-2016.jpg');

		}

		#catalog-link-predmety-present-2015 {
			background-image: url('/img/catalogs/predmety/present-2015.jpg');
		}

		#catalog-link-evina-textil-catalog-2016 {
			background-image: url('/img/catalogs/textil/textil-2016.jpg');
		}
			#catalog-link-evina-textil-catalog-2016 > .catalog-hover-corner {
				bottom:	0px;
				right:	0px;
			}

		#catalog-link-evina-kalendare-catalog-2016 {
			background-image: url('/img/catalogs/kalendare/kalendare-2016.jpg');
		}
			#catalog-link-evina-kalendare-catalog-2016 > .catalog-hover-corner {
				bottom:	6px;
				right:	0px;
			}

		#catalog-link-evina-kalendare_2-catalog-2016 {
			background-image: url('/img/catalogs/kalendare/kalendare-2016_2.jpg');
		}
			#catalog-link-evina-kalendare_2-catalog-2016 > .catalog-hover-corner {
				bottom:	7px;
				right:	0px;
			}

.contact-us-single > #contact-us {
	margin: 0 auto;
	float: none;
}

#contact-us {

}
	#contact-us > a,
	#contact-us > a:focus {
		text-transform: uppercase;
		color: #7ab800;
		font-weight: bold;
		padding: 2px 24px 0px 24px;
		border: 2px solid #7ab800;
		width: 125px;
		display: inline-block;
	}
	#contact-us > a:hover {
		text-decoration: none;
		color: white;
		background-color: #7ab800;
	}

#contact-page-address {
	padding-right: 0px;
	font-size: 0.875em;
	margin-bottom: 30px;
}
	#contact-page-address > a {
		color: #7ab800;
		text-decoration: underline;
	}

#success-message,
#error-message {
	padding: 5px 10px;
	margin-bottom: 15px;
	display: none;
}

#success-message {
	border: 1px solid #7ab800;
	background-color: #e7ffb8;
}

#error-message {
	border: 1px solid #F44336;
	background-color: #fbbdb8;
}

#contact-form {

}
	#contact-form .form-group {
		margin-bottom: 9px;
	}
	#contact-form .form-group.col-xs-6.left {
		padding-right: 9px;
	}
	#contact-form .form-group.col-xs-6.right {
		padding-left: 9px;
	}
		#contact-form .form-group > .form-control {
			border-radius: 0px;
			font-size: 0.875em;
		}
		#contact-form .form-group > .form-control:focus {
			border-color: #7ab800;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}


	#contact-form button[type="submit"] {
		border-radius: 0px;
		border: 2px solid #7ab800;
		width: 100%;
		color: #7ab800;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 600;
	}
	#contact-form button[type="submit"]:hover {
		color: white;
		background-color: #7ab800;
	}

	#contact-form  *::-webkit-input-placeholder {
		font-style: italic;
		font-weight: 300;
	}
	#contact-form  *::-moz-placeholder {
		font-style: italic;
		font-weight: 300;
	}
	#contact-form  *:-ms-input-placeholder {
		font-style: italic;
		font-weight: 300;
	}
	#contact-form *:-moz-placeholder {
		font-style: italic;
		font-weight: 300;
	}

.map-wrapper {
	width: 100%;
	height: 450px;
	position: relative;
}

#map {
	width: 100%;
}
	#map iframe {
		/*width: 100%;*/
	}

#drak {
	background-image: url('/img/drak.png');
	width: 100px;
	height: 122px;

	position: absolute;
	bottom: -10px;
    left: 30px;

	z-index: 2;
}

.logo-holder {
	display: table-cell;
	vertical-align: middle;
	width: 960px;
	height: 150px;
	text-align: center;
}
	.logo-holder a {
		display: block;
	}
	.logo-holder img {
		max-width: 160px;
		max-height: 125px;
	}
